@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #9759ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color:#fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

